<h1><%= @group.name %></h1>

<ul class="group_dates">
  <% @group.group_dates.each do |group_date| %>
  <li><%= group_date.name %></li>
  <% end %>
</ul>

<p>
  <%= link_to "New Group Date", new_group_group_date_path %>
</p>
