<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t 'edit-group.edit-box.title' %></h3>
    </div>
    <div class="panel-body">
      <%= bootstrap_form_for [@group] do |form| %>
        <%= form.text_field :name, label: t('edit-group.edit-box.name') %>

        <%= form.submit t('edit-group.edit-box.submit') %>

      <% end %>
    </div>
  </div>
</div>
