/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */

/* Mixins */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

/* Colors */
$background: #F2F2F2;
$topbar: #3A315C;

/* Main */
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");

body {
  font: 150%/1.5 "PT Sans", serif;
  line-height:1.2;
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
}

.pull-right {
  float: right;
}

.alert {
  margin-top: 25px;
  margin-bottom: 0px;
}

.translation_missing {
  color: red;
}

.navbar {
  background-color: $topbar;

  a {
    color: #fff;

    &:hover, &:focus {
      background-color: #2F284A !important;
    }
  }

  .icon-bar {
    background-color: #ffffff;
  }
}

.group-date {
  position: relative;
  background-color: #fff;
  min-height: 200px;
  box-shadow:0 1px 2px #E3DFD6;
  border-radius:3px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-bottom: 50px;

  @media(max-width: 767px){
    padding-top: 5px;
    margin: 0 15px;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-weight: bold;
    margin-bottom: 0;
  }

  li {
    list-style: none;
    margin-left: -40px;
  }

  .meta {
    @include flexbox();

    position: absolute;
    bottom: 0;
    background-color: #EFEDEE;
    height: 40px;
    width: 100%;
    margin-left: -15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    .meta-yes {
      background-color: #3AD599;
      color: #fff;
      border-bottom-right-radius: 0px;
    }

    .meta-maybe, .meta-edit {
      background-color: #FEDB3C;
      color: #fff;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

      .meta-edit {
        border-bottom-right-radius: 3px;
      }

    .meta-no, .meta-delete {
      background-color: #EA486A;
      color: #fff;
      border-bottom-left-radius: 0px;
    }

      .meta-delete {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 0px;
      }

    a {
      @include flex(1);

      text-align: center;
      display: inline-block;
      color: #999999;
      font-weight: bold;
      line-height: 40px;
      padding: 0 10px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;

      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}
