<h1>Choose user</h1>
<%= form_tag select_user_post_path do %>
  <%= label_tag :group_member, "Username" %>
  <%= select("group_member", "", GroupMember.all.collect {|p| [ p.name, p.id ] }) %>

  <%= submit_tag "Log In" %>
<% end %>
